<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>最简单的动态行高.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E18347FC1D420DC8008A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E18348151D420DC8008A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E18348201D420DC8008A69BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
